<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Why Are You Here?</title>
    <link rel="stylesheet" href="/static/styles.css">

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            if (document.cookie.includes('session=')) {
                window.location.href = '/bb170201ef5d8f4449fd06812f53dc3d970875ca2c25abbe2bfc3683db807a81/account';
            }
            form = document.querySelector('.login');
            form.addEventListener('submit', (event) => {
                event.preventDefault();
                const username = form.querySelector('input[name="username"]').value;
                const password = form.querySelector('input[name="password"]').value;
                fetch(`/bb170201ef5d8f4449fd06812f53dc3d970875ca2c25abbe2bfc3683db807a81/processLogin`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({username, password})
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        window.location.href = '/bb170201ef5d8f4449fd06812f53dc3d970875ca2c25abbe2bfc3683db807a81/account';
                    } else {
                        alert('Invalid username or password');
                    }
                });
            });
        });
    </script>
</head>
<body>
    {% include 'header.html' %}
    <main>
        <h1 class="title"></h1>
        <div class="new-item">
            <form class="new-item-form" action="/bb170201ef5d8f4449fd06812f53dc3d970875ca2c25abbe2bfc3683db807a81/addItem">
                <h1 class="new-item-title">Add New Item - FLAG{1nj3ctTh3MarsD4t4b4s3}</h1>
                <input class="itemtextbox" id="new-item" type="text" name="new-item" placeholder="New Item">
                <input class="itemtextbox" id="price" type="text" name="price" placeholder="Price">
                <select class="itemdropdown" name="item-type">
                    <option value="catagory">Type of Item</option>
                    <option value="weapons">Weapons</option>
                    <option value="bombs">Bombs</option>
                </select>
                <input class="submit" id="list" type="submit" value="Add Item">
            </form>
        </div>
        <div class="button-div">
            <button class="submit" id="list" onclick="logout()">Logout</button>
        </div>
    </main>
    
    
    {% include 'footer.html' %}

    <script src="script.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            fetch('/bb170201ef5d8f4449fd06812f53dc3d970875ca2c25abbe2bfc3683db807a81/getSession')
            .then(response => response.json())
            .then(data => {
                if (data['user']) {
                    document.querySelector('.title').innerHTML = `
                    Welcome ${data['user'][1]}
                    `
                }
            })
        })
        function logout() {
            window.location.href = '/logout';
        }
    </script>
</body>
</html>
