<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            fetch('/bb170201ef5d8f4449fd06812f53dc3d970875ca2c25abbe2bfc3683db807a81/forum/getAllPosts')
            .then(response => response.json())
            .then(data => {
                if (data.status == 'failed') {
                    alert(data.message)
                    return
                }
                
                postsDiv = document.querySelector('.posts')
                data.posts.forEach(post => {
                    postDiv = document.createElement('div')
                    postDiv.innerHTML = `
                        <h3>${post[2]}</h3>
                        <p>${post[3]}</p>
                    `
                    postsDiv.appendChild(postDiv)
                })
            })
        })
    </script>
</head>
<body>
    <div class="posts"></div>
</body>
</html>