<header>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            fetch('/bb170201ef5d8f4449fd06812f53dc3d970875ca2c25abbe2bfc3683db807a81/getSession')
            .then(response => response.json())
            .then(data => {
                if (data['user']) {
                    document.querySelector('nav ul').innerHTML = `
                        <li><a href="/bb170201ef5d8f4449fd06812f53dc3d970875ca2c25abbe2bfc3683db807a81?filename=jumbo.html">Home</a></li>
                        <li><a href="/bb170201ef5d8f4449fd06812f53dc3d970875ca2c25abbe2bfc3683db807a82?filename=forumGate.html">Forum</a></li>
                        <li><a href="/bb170201ef5d8f4449fd06812f53dc3d970875ca2c25abbe2bfc3683db807a81/account">Account</a></li>
                    `
                }
            })
        })
    </script>

    <nav>
        <ul>
            <li><a href="/bb170201ef5d8f4449fd06812f53dc3d970875ca2c25abbe2bfc3683db807a82?filename=jumbo.html">Home</a></li>
            <li><a href="/bb170201ef5d8f4449fd06812f53dc3d970875ca2c25abbe2bfc3683db807a82?filename=forumGate.html">Forum</a></li>
            <li><a href="/bb170201ef5d8f4449fd06812f53dc3d970875ca2c25abbe2bfc3683db807a81/login">Account</a></li>
        </ul>
    </nav>
    <div class="header-design">
        <hr>
        <img id="target" src="/static/target.png" alt="">
        <hr>
    </div>    
</header>
