<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Now</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    {% include 'header.html' %}
    
    <main>
        <h1 class="title">flag{secret_site}</h1>
        <div class="menu">
            <div class="contents">
            {% if member %}
                <h2 class="menu-category">Menu</h2>
                <ul class="menu-list">
                    <li>$100000 Intergalactic Blaster</li>
                    <li>$123456789Lasgun</li>
                    <li>$30800 Stary Soda</li>
                </ul>
            {% endif %}
            </div>
        </div>
    </main>
    
    {% include 'footer.html' %}

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            fetch('/bb170201ef5d8f4449fd06812f53dc3d970875ca2c25abbe2bfc3683db807a81/account/getItems')
            .then(response => response.json())
            .then(data => {
                console.log(data);
                let user = 'test';
                const items = document.querySelectorAll('.contents');
                Object.entries(data).forEach(([key, value]) => {
                    console.log(key);
                    const catagory = document.createElement('h2');
                    catagory.className = 'menu-category';
                    catagory.textContent = key;
                    items[0].appendChild(catagory);
                    const menu = document.createElement('ul');
                    menu.className = 'menu-list';
                    Object.entries(value).forEach(([item, price]) => {
                        console.log(item);
                        const paragraph = document.createElement('li');
                        paragraph.textContent = `\$${price} ${item}`;
                        menu.appendChild(paragraph);
                    });
                    items[0].appendChild(menu);
                });
            })
        })
    </script>
</body>
</html>
