<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Now</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    {% include 'header.html' %}
    
    <main>
        <h1 class="title">flag{secret_site}</h1>
        <div class="menu">
            <div class="contents">
                <h2 class="menu-category">Weapons</h2>
                <ul class="menu-list">
                     <li>$1,000,000 - Nuclear Bomb</li>
                     <li>$1,000,000 - Missile</li>
                     <li>$1,000,000 - Death Star</li>
                </ul>
                <h2 class="menu-category">Cyberware</h2>
                <ul class="menu-list">
                     <li>$1,000,000 - Hacker Bot</li>
                    <li>$1,000,000 - James Mathis</li>
                </ul>
            </div>
        </div>
    </main>
    
    {% include 'footer.html' %}

    <script src="script.js"></script>
</body>
</html>
